{% load static %}
{% load socialaccount %}


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title>Library System IIITR</title>
   
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link rel="stylesheet" type = 'text/css' href="{% static 'oauth_app/styles.css' %}" />
   
    <link
        rel="stylesheet"
        href="https://fonts.googleapis.com/icon?family=Material+Icons"
        />
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <link
        href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css"
        rel="stylesheet"
        id="bootstrap-css"
        />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <style>
            table {
              font-family: arial, sans-serif;
              border-collapse: collapse;
              width: 100%;
            }
            
            td, th {
              border: 1px solid #dddddd;
              text-align: left;
              padding: 8px;
            }
            
            tr:nth-child(even) {
              background-color: #dddddd;
            }
            </style> 
    </head>
  <body>
   <div class="navbar "> 
   <!--  <div >
     img src="https://iiitr.ac.in/assets/images/logo/logo-blue-desktop.png"  style= "float:left;max-width:20%;height:auto"id="logo" alt="Logo | Indian Institute of Information Technolnogy Raichur | IIITR">
    </div >
     </div>-->
      <div ><h2 class="titlecolor sizing">Library Management System</h2></div>
  </div>
 
  <ul class="nav "  style="background-color: navy">
    <li class="nav-item">
      <h4 ><a class="nav-link active" style=" color:white;padding-left: 2rem;padding-right: 2rem;font-weight: bold;" href="/">Home</a></h4>
    </li>
    <li class="nav-item">
      <h4><a class="nav-link" style="color:white;padding-left: 2rem;padding-right: 2rem;;font-weight: bold;" href="/guidelines">Guidelines</a></h4>
    </li>
    
  </ul>
 
  <!-- <nav class="navbar navbar-light" style="background-color: powderblue;">
    <div class="collapse navbar-collapse navbar-inline" id="navbarNavDropdown">
      <ul class=" navbar-nav ">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
       
      </ul>
    </div>
  </nav> -->
  <div id="content-top" class="clearfix content-top region--dark-typography region--white-background">
    <div class="container">
              <div class="clearfix content-top__container">
        <div class="row">
          <div class="col-12">
            <div class="content-top__section">
                <div class="region region-content-top">
  <div id="block-conference-lite-page-title" class="clearfix block block-core block-page-title-block">

  
    <div class="content">
    
<h1 class="title page-title">Rules &amp; Regulations</h1>


  </div>
</div>
<div id="block-conference-lite-content" class="clearfix block block-system block-system-main-block">

  
    <div class="content">
    

<article data-history-node-id="2549" role="article" about="/library/content/rules-regulations" typeof="foaf:Document" class="node node--type-page node--view-mode-full clearfix">
<div class="node__container">
          <div class="node__main-content clearfix">
    <header class="node__header">
                
                    <span property="dc:title" content="Rules &amp; Regulations" class="rdf-meta hidden"></span>
<span property="sioc:num_replies" datatype="xsd:integer" class="rdf-meta hidden"></span>

                      </header>
                      <div property="content:encoded" class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item"><h3>
                       Library Timings</h3>
                      <ul><li>
                        Monday - Saturday: 9.30 A.M. to 05.30 P.M
                    </li>
                    
                      </ul>
                      </div>
                      <div property="content:encoded" class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item"><h3>
                        Borrow/Return Timing</h3>
                       <ul><li>
                         Monday - Saturday: 9.30 A.M. to 05.30 P.M
                     </li><h3>
                     </div>
          <div property="content:encoded" class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item"><h3>
  Borrowing Rules</h3>
<ul><li>
    Borrowing privileges are given only to the Faculty, Staff, and Students of IIIT Raichur</li>
<li>
    Books can be issued to the borrowers only against the Institute ID ­Card.</li>
<li>
    Books can be issued only during the specified library timings..</li>
    <li>
        It is the responsibility of the borrower to bring to the notice of the issuer if there is any pre-damage in the books at the time of borrowing. Once the book leaves the library it is the sole responsibility of the borrower to pay the applicable fine ( fine rules are given in the fine section.).</li>

</ul><h3>
  Borrowing Priveleges</h3>
  <table><tbody><tr><th>
    SI.No.
    </th>
    <th>
    <p>Type Of Member</p>
    </th>
    <th>
    <p>&nbsp;Maximum # of Books can be issued</p>
    </th>
    <th>
    <p>&nbsp;Renewal&nbsp;Days</p>
    </th>
    <th>
    <p>&nbsp;Fine per day</p>
    </th>
    </tr><tr><td>
    <p>1</p>
    </td>
    <td>
    <p>Faculty</p>
    </td>
    <td>
    <p>2</p>
    </td>
    <td>
    <p>30</p>
    </td>
    <td>
    <p>5.00</p>
    </td>
    </tr><tr><td>
    <p>2</p>
    </td>
    <td>
    <p>Student</p>
    </td>
    <td>
    <p>04</p>
    </td>
    <td>
    <p>14</p>
    </td>
    <td>
    <p>5.00</p>
    </td>
    </tr><tr><td>
    <p>3</p>
    </td>
    <td>
    <p>&nbsp;Staff</p>
    </td>
    <td>
    <p>02</p>
    </td>
    <td>
    <p>14</p>
    </td>
    <td>
    <p>5.00</p>
    </td>
    </tr></tbody></table><p>&nbsp;</p>


<h3>
 Renewal Rules</h3>
 <ul>
<li>An issued book can be renewed for a period of 15 days, subject to a maximum of 4 times. </li>
<li>A borrower can only renew/return books which are issued to them. No one is allowed to return/renew books on behalf of any other person</li>
<li>After the end semester exams, all the students must return all the books that they have borrowed from the library, otherwise an applicable fine will be imposed (please see the fine section for the details of fine).
</li></ul>
<h3>
  Fine Rules</h3>
  <ul>
    <li>If a book is not renewed/returned from/to the Library within the stipulated time, an overdue charge of Rs 5/-  per book per day will be charged.</li>
    <li>If a book is not returned after the end semester exams, an overdue charge of 50 Rs per day per book will be incurred.

    </li>
    <li>In case of any damage/pages missing, the borrower has to pay for entire book or the borrower can replace it with a new book of same quality
    </li>
    <li>If a borrowed book is found to be damaged in any form (any kind of marking such as writings, underlining, or highlighting or tearing of pages) a  fine of Rs 2000/- (rupees two thousand) or the actual price per book (whichever is maximum) will be imposed and the user will be suspended from the library for 15 days. 

    </li>
    <li>Stealing of books will also be considered as damaging the book and If identified, the fine will be Rs.2000/- (rupees two thousand) or the actual price per book (whichever is maximum) and the user will be suspended from the library for 15 days.
    </li></ul></div>
    
        </div>
</div>
</article>

  </div>
</div>

</div>

            </div>
          </div>
        </div>
      </div>
            </div>
  </div>
  <div class=" center mt-auto" style="background-color: navy;
  color: white;
  text-align: center;" >
      <br>
    <h4 >LMS IIITR </h4>
    <h4 >Made By Akhil </h4>
    <br>
<br>
  </div>
      
  </body>
</html>


        <!-- {% if user.is_Authenticated %}
        <p>Welcome, you are logged in as {{user.username}}</p>
        {%else %}
        <a href="">Login with Google</a>
        {%endif%}

    </body>
</html> -->